html {
    scroll-behavior: smooth;
}

*{
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgb(38, 60, 69);/* rgb(4, 85, 19) */
    backdrop-filter: blur(40px);
    z-index: 1;
    top: 0;
}

.h1-size {
    font-size: 35px;
    margin-bottom: 0px;
}

.p-size {
    font-size: 20px;
    color: gray;
}

.nav-div {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
    float: left;
}

.logo img:hover {
    cursor: pointer;
}

.logo h1 {
    display: inline-block;
    margin-left: 10px;
    color: beige;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-weight: bold;
    margin-right: 25px;
}

.button1 {
    background-color: white;
    margin-left: 10px;
    text-align: center;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    
    transition: 0.15s;
}

.button1:hover {
    transform: scale(1.2);
}

li a:hover {
    text-decoration: underline;
}

.Intro {
    margin-top: 70px;
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -22px;
    padding-bottom: 30px;
}

.Intro-text {
    width: 50%;
    text-align: center;
}

.Intro-text h1 {
    font-size: 50px;
}

.Intro-text p {
    font-size: 28.57px;
}

.Intro-text button {
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid;
    border-color: green;
    background-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: white;
    transition: 0.15s;
}

.Intro-text button:hover {
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: underline;
}

.Intro-text button:active {
    opacity: 0.5;
}

.svg-animation video {
    width: 800px;
    height: 700px;
}

.Featured-Playlists {
    background-color: rgb(240, 240, 226);
    margin-bottom: -22px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.featured-playlist-subtitle {
    text-align: center;
    margin-bottom: 15px;
}

.playlist-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.playlist-1:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.playlist-cards img {
    width: 300px;
    height: 300px;
}

.playlist-subtitle {
    width: 250px;
    text-align: center;
    background-color: bisque;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -5px;
}

.image {
    position: relative;
}

.song-count {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: black;
    color: white;
    border-radius: 10px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.know-more{
    display: none;
    width: 54px;
    height: 54px;
    border-radius: 27px;
    text-align: center;
    margin-top: 180px;
    margin-left: -85px;
}

.know-more p {
    font-size: 13px;
}

.album-1:hover + .know-more {
    display: block;
    background-color: green;
    color: blue;
}

.know-more:hover {
    display: block;
    background-color: green;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.Recommended-Albums {
    background-color: rgb(82, 79, 79);
    margin-bottom: -22px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.recommended-albums-subtitle {
    text-align: center;
    margin-bottom: 30px;
}

input.find {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid;
    border-color: black;

    margin-bottom: 10px;
}

.button2{
    margin-left: -30px;
    cursor: pointer;
    border: none;
}

.button2 img {
    height: 10px;
}

.album-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.album-cards img {
    width: 200px;
    height: 200px;
}

.album-subtitle {
    width: 150px;
    text-align: center;
    background-color: bisque;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -5px;
}

.user-review-subtitle {
    text-align: center;
}

.User-Review {
    background-color: white;
    margin-bottom: -22px;
    padding-top: 30px;
    padding-bottom: 90px;
}

.user-review {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.review {
    width: 50%;
}

.review img {
    height: 50px;
    border-radius: 25px;
    margin-bottom: -20px;
}

.form {
    width: 50%;
    text-align: center;
}

.submit-button {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid;
    border-color: black;
    margin-bottom: 20px;
    width: 100px;
    transition: 0.15s;
}

.submit-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.submit-button:active {
    background-color: black;
    color: white;
    cursor: pointer;
    opacity: 0.5;
}

footer {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
}

.social-media img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.social-media img:hover {
    transform: scale(1.2);
}

.links {
    text-align: center;
}

.links a{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.links a:hover {
    color: grey;
}

input.form-name,input.email-id,.feedback {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid;
    border-color: black;
    margin-bottom: 20px;
    width: 300px;
}

.feedback {
    height: 100px;
}

.back-to-top {
    color: white;
    text-align: right;
    margin-right: 30px;
    margin-top: -20px;
}

.back-to-top button {
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid;
    border-color: white;
    background-color: grey;
    color: white;
    transition: 0.15s;
}

.back-to-top button:hover {
    cursor: pointer;
    background-color: black;
}

.back-to-top button:active {
    opacity: 0.5;
}